<% include partials/header %>

  <style>
    .image-book{
      width: 220px;
      max-width: 220px;
      height: 300px;
      align-self: center;
    }
  </style>

  <nav class="navbar navbar-expand-lg navbar-dark navbar-full" style="background-color: #403866; border-radius: 0px!important;">
    <a class="" href="#">
        <img src="/images/book.png" width="40" height="40" alt="">
      </a>
    <a class="navbar-brand" href="#">Booktique</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navs navbar-nav navbar-right">
        <li class="nav-item"><a class="nav-link" style="font-size: 16px!important; color:#fff;" href="/booktique/login">Logout</a></li>
      </ul>
    </div>
  </nav>
  <br><br>
  <div class="container">
    <div class="row col-lg-12">
      <div class="col-lg-3">
        <div class="card" style="">
          <img class="card-img-top image-book" src="<%= image %>" alt="Card image cap">
        </div>
      </div>

      <div class="col-lg-9">
        <div class="card">
          <h2 class="card-title" style="padding-left: 16px; padding-top:16px;"><strong><%= title %></strong></h2>
          <hr>
          <div class="card-body">
            <p class="card-text"><%= desc %></p>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">Author</th>
                  <th scope="col">ISBN #</th>
                  <th scope="col">Pages</th>
                  <th scope="col">Category</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td><%= publisher %></td>
                  <td><%= authors %></td>
                  <td>ISBN20159X</td>
                  <td><%= pages %></td>
                  <td><%= category %></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>

<% include partials/footer %>
